.DS_Store

.*.swp

.idea
.gradle
.project
.classpath
.metadata
.settings

*.bak
*.log
*.iml

local.properties

bin/
build/
gen/
obj/
target/
tmp/
sub/
components/
plugins/



versions

temp_resource_mapping.txt
.gradletasknamecache

http_check
/hostapp
/host
/easypatch

.centralbuild_versions.json
